.googleMap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #234C77;
    color: white;
}

.googleMapIframe {
    border: 0;
    height: 50vh;
    width: fit-content;
    padding-top: 0px;
}

.bottomGrid {
    padding: 16px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.featured {
    background: #234C77;
    color: white;
    padding: 10px;
}

.featuredMemes {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.onePost {
    display: grid;
    padding: 10px;
    margin-inline-end: auto;
    align-self: flex-end;
    margin: auto;
    margin-bottom: 10px;
    background-color: #d8e1ea;
}

.downloadDiv {
    border: 1px solid #adb8c4;
    margin-top: -5px;
    display: flex;
    align-items: center;
}

.youtubeVideo {
    padding-top: 0px !important;
    height: 50vw;
}

.aboutUs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.aboutUsChild {
    display: flex;
}

.memeExpansionPanel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.individualDiv {
    width: 433px;;
    background-color: #eff0f2;
    border: 2px solid #d8d8d8;
    margin: 2px;
}

.contentDiv {
    align-items: center;
    padding: 9px;
}

.expandTitle {
    justify-content: center;
    color: white;
}

.anim {
    /* animation properties */
    display: flex;
}

@keyframes my-animation {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(-100vw);
    }
}

.notifications {
    background-color: #d1ecf1;
    border: 1px solid #c0e5eb;
    color: #135965;
    margin-top: 75px;
    font-size: 18px;
    font-weight: 500;
    white-space: pre;
    height: 50px;
    display: grid;
    align-items: center;
    overflow: hidden;
}

.specialthanks {
    display: flex;
    align-items: center;
}

.container {
    height: 300px;
    display: flex;
    background: #366493;
    padding: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginFormCss {
    display: grid;
    height: 100%;
    align-items: center;
}

.mainheader {
    text-align: center;
    white-space: pre;
    .h1,
    .h2 {
        margin: 0px!important;
    }
    h1 {
        font-size: large;
    }
}

.inputfield {
    border-radius: 28px;
    height: 38px;
    background: white;
    border: 2px solid #264f7b;
    text-align: center;
}

.loginButton {
    border-radius: 20px;
    width: 100%;
}

.infoDiv {
    display: flex;
    align-items: center;
    white-space: break-spaces;
}